*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
    user-select: none;
}
.header{
    /* width: 100%;
    height: 100vh; */
    background: radial-gradient(#fff,#f7d0d0);
}
.container{
   max-width:1300px ;
   margin: auto;
   padding:0 25px;
  
}
.nav-bar{
    display: flex;
    align-items: center;
    padding: 15px;
}
 nav{
   flex: 1;
   text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
} 
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
nav a{
    text-decoration: none;
    font-weight: 600;
    color: #373535;
    cursor: pointer;
    position: relative;
}
nav a::after{
    content: '';
    height: 3px;
    width: 100%;
    background: #fd4c4c;
    left: 0;
    bottom: -4px;
    border-radius: 5px;
    transform: scaleX(0);
    position: absolute;
    transform-origin: left;
    transition: .5s;
}
nav a:hover::after{
    transform: scaleX(1);
    transform-origin: right;
}
p{
    color: #555;
    font-weight: 600;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis:50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 50px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background-color: #ff423b;
    color: #f0cfcf;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 700;
    transition:.5s;
}
/* .header .row{
     margin-top: 10px; 
} */
.btn:hover{
    background: #9a0a05;
}

/* ----categories --- */

.categories{
    margin: 50px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding: 0 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width:200px;
    margin-bottom: 50px;
    transition: .5s;
}
.col-4:hover{
    transform: translateY(-5px);
    
}
.col-4 img{
    width: 100%;
}
.col-4 .rating{
    width: 95px;
    height:30px;
    background: #fffcfc;
    border: solid #fff;
    margin-top: -12px;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 50px;
    color: #555;
    font-weight: 700;
}
.title::after{
    content: '';
    background: #fd4c4c;
    width: 100px;
    height: 5px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}
.col-4 h4{
    color: #555;
    font-weight:600;
    font-size: 15px;
    padding: 5px;
}
.col-4 p{
    color: #7a7676;
    font-size: 15px;
    padding: 2px;
}

 /* ---Offer-section-- */
.offer{
    background: radial-gradient(#fff,#fcd6d6);
    margin-top: 80px;
    padding: 30px 0;
}
.col-2 .offer-img{
    padding: 50px;
    /* width: 400px; */
}
small{
    color: #555;
}

    /* --testimomial-- */
.test-monial .col-3 .prate{
    width: 105px;
    height: 33px;
    margin-top: -6px;
    margin-bottom: -20px;
}
.test-monial{
    padding-top: 100px;
}
.test-monial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
    cursor: pointer;
    transition: .5s;
}
.test-monial .col-3:hover{
    transform: translateY(-10px);
}
.test-monial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.qote{
    font-size: 2rem;
    color:#fb4848;
    margin-top: -30px;
}
.col-3 p{
    font-size: 13px;
    margin: 12px 0;
    font-weight: 500;

}
.col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}
    /* ---brand--- */

.brand{
    margin: 80px auto;
}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(95%);
    transition: .5s;
}
.col-5 img:hover{
    filter: grayscale(0);
    
}
   /* ---Footer--- */
.footer{
    background-color: #2c2a2a;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex:1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 130px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 2px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
.copyright span{
    color: #f95454;
    font-size: 12px;
    font-weight: 700;
}

.menu{
    width: 23px;
    margin-left: 20px;
    display: none;
}
/* ---md-qury--- */
@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top:70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color:#fff;
    }
    .menu{
        display: block;
        cursor: pointer;
    }
}
/* ----All products page---- */

.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
 select{
    padding: 5px;
    border: 1px solid #fc4747;
    border-radius: 5px;
}
select:focus{
    outline: none;
}
.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #2e2b2b;
    margin-left: 10px;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
}
.page-btn span:hover{
    background-color: #ff4040;
    color:#fff;
}
 
 /* ---single--product-details--- */
 .single-product{
    margin-top: 80px;
 }
 .single-product .col-2 img{
    padding:0;
    /* margin-left: 50px; */
    width: 100%;

 }
 .single-product .col-2{
    padding: 20px;
    width: 100%;
 }
 .single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
 }
 .single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
 }
 .single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #fc5151;
 }
 .single-product input:focus{
    outline: none;
 }
 .small-img-row{
    display: flex;
    justify-content: space-between;
 }
 .small-img-col{
    flex-basis: 24%;
    cursor: pointer;
 }

 /* ---Cart-items--- */
.cart-page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background:#fc4747;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
    border: 1.5px solid #f95454;
    border-radius: 5px;
}
td input:focus{
    outline: none;
}
td a{
    color: #f95454;
    font-size: 12px;
}
td img{
    width: 100px;
    height: 100px;
    margin-right: 10px;
}
.total-price{
    display: flex;
    justify-content:flex-end;
    
}
.total-price table{
    border-top: 3px solid #fb4848;
    width: 100%;
    max-width: 380px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}

    /* ---ACCOUNT-PAGE--- */
.account-page{
    padding: 30px 0;
    background: radial-gradient(#f9e7e7,#ffcdcd);
}
.form-container{
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0 #555;
    overflow: hidden;
}
.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.form-btn{
    display: inline-block;
}
.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: 1s;
}
.form-container input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #fe5151;
}
.form-container input:focus{
    outline: none;
}
form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
form .btn:focus{
    outline: none;
}
#login-form{
    left: -300px;

}
#reg-form{
    left: 0;
}
form a{
    font-size: 12px;
}
#indicater{
    width: 100px;
    border: none;
    background: #fe5151;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: 1s;
}



@media only screen and (max-width: 600px){
    .row{
        align-items: center;
        
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
    .single-product .row{
        text-align: left;
    }
    .single-product .col-2{
        padding: 20px 0;
    }
    .single-product h1{
        font-size: 25px;
        line-height: 22px;
    }
    /* ---CART-ITEMS -- */
    .cart-info p{
        /* display: none; */
        font-size: 10px;
        padding: 2px;
    }
}
